<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sprint Regression Test Suite" parallel="false">

	<listeners>
		<listener class-name="com.walmart.listner.CustomTestNGReporter" />
	</listeners>

	<test thread-count="5" name="Test">

		<classes>
			<class name="com.walmart.test.CustomerReviews" />
			<class name="com.walmart.test.TrendingItems" />
			<class name="com.walmart.test.ValueOfTheDay" />
			<class name="com.walmart.test.SearchProduct" />
			<class name="com.walmart.test.Taxonomy" />
			<class name="com.walmart.test.StoreLocator" />
			<class name="com.walmart.test.Pagination" />
			<class name="com.walmart.test.SearchItems" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->      
